### Import library

### Connecting to SQL

In [1]:
import mysql.connector

In [2]:
scrap_db=mysql.connector.connect(
host="localhost",
user="Ajesh 1st",
passwd="Ajesh1161",
database="ajesh 1st"
)

###

### Creating 1st Table

In [3]:
 cursor=scrap_db.cursor()

cursor.execute("DROP TABLE IF EXISTS news ")
# Create table as per requirement
sql = """CREATE TABLE news (
newsid int,
portalid int,
town VARCHAR(20),
news  VARCHAR(100),
date VARCHAR(15)
 )"""
cursor.execute(sql)

#

### Inserting Data into a Database

In [4]:
xl=[
    (1,345,'Chennai',"A narrow road, land acquisition and diversion of utilities like pipelines and cables before carrying out piling work have been cited by CMRL officials as the reasons for the delay",'18,1,2023'),
    (2,456,'Bangalore','PM Modi to visit Karnataka tomorrow; Tejasvi Surya criticised for opening plane’s ’emergency exit’','18,1,2023'),
    (3,764,'Hyderabad',"Elaborate arrangements were being made for the funeral procession and burial of the titular eighth Nizam","18,1,2023"),
    (4,876,'kochi',"Min says fee has to be paid to Haritha Karma Sena, receipt mandatory to avail of LSG services",'18,1,2023'),
    (5,564,'Mumbai',"Real estate agents in Maharashtra will have to undergo mandatory training","18,1,2023")
]

In [5]:
mySql_insert_query = """INSERT INTO news (newsid, portalid, town, news,date) 
VALUES (%s, %s, %s, %s ,%s) """

records_to_insert = xl

#cursor = scrap_db.cursor()

cursor.executemany(mySql_insert_query, records_to_insert)
scrap_db.commit()
print(cursor.rowcount, "Record inserted successfully into Population table")
# disconnect from server

5 Record inserted successfully into Population table

#

### Extracting Data from SQL db

In [6]:
cursor.execute("select * from news")
news=cursor.fetchall()
x2=[]
for i in news:
    x2.append(i)

#

###  Creating 2nd Table

In [7]:
cursor.execute("DROP TABLE IF EXISTS kf_docmnt ")
# Create table as per requirement
sql = """CREATE TABLE kf_docmnt (
kfid int,
portalid int,
town VARCHAR(20),
news  VARCHAR(100),
date VARCHAR(15)
 )"""
cursor.execute(sql)

#

### Inserting Data which we extracted from db

In [8]:
mySql_insert_query = """INSERT INTO kf_docmnt (kfid, portalid, town, news,date) 
VALUES (%s, %s, %s, %s ,%s) """

records_to_insert = x2


cursor.executemany(mySql_insert_query, records_to_insert)
scrap_db.commit()
print(cursor.rowcount, "Record inserted successfully into Population table")

5 Record inserted successfully into Population table